body {
  background-color: rgb(230, 230, 230);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header {
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
  border-radius: 50px;
  margin: 25px;
  text-transform: uppercase;
}

.book-shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60vh;
  margin: 25px;
  padding: 25px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.book {
  border-radius: 2px;
  width: 150px;
  height: 250px;
  margin: 25px;
  text-align: center;
  font-size: large;
  background-color: rgb(120, 199, 245);
}

.button {
  font-size: larger;
}

.add-book-form {
  display: flex;
  flex-direction: row;
}

.radio-buttons{
  display: flex;
  flex-direction: column;
}
