body {
  background-color: rgb(179, 159, 134);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header {
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
  border-style: solid;
  border-radius: 50px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(165, 141, 111);
  margin: 25px;
}

.book-shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: solid;
  border-radius: 50px;
  height: 60vh;
  margin: 25px;
  padding: 25px;
}

.footer {
  border-style: solid;
  border-radius: 50px;
  height: 10vh;
  margin: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}

.book {
  border-style: solid;
  border-radius: 2px;
  width: 150px;
  height: 250px;
  margin: 25px;
  text-align: center;
  font-size: large;
  background-color:navajowhite;
}
